html{
      background-color: rgba(128, 128, 128, .5);
}
.wrapper{
  width: 860px;
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
}
.available{
  background-color: rgba(51, 255, 51, .7);
}
.chosen{
  background-color: rgba(255, 0, 0, .7);
}

select{
  margin: 10px;
}
.abilities ul{
  text-align: left;
  list-style-type: none;
}

#dice li{
  text-align: left;
  width: 16px;
  display: inline-block;
  padding: 10px;
  
  margin: 0px;
  border: 1px solid black;  
  background-color: rgba(255, 255, 255, .8);
  
}
div.leftColumn{
    width: 33%;
}
.abilities {
    width: 100%;
}

label, input {
    /* in order to define widths */
    display: inline-block;
}

label {
    width: 50%;
    /* positions the label text beside the input */
    text-align: left;
}

label + input {
    width: 30%;
    /* large margin-right to force the next element to the new-line
       and margin-left to create a gutter between the label and input */
    margin: 0 30% 0 4%;
}